.weather-by-days-container {
  margin-top: 50px;
  color: white;
  font-size: 90px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rectangle {
  width: 85%;
  height: 100px;
  border: 1px solid blue;
  border-radius: 15px;
  margin: 5px auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
