.Weather {
  background: linear-gradient(rgb(36, 189, 44), rgb(95, 221, 179));
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: 1px solid white;
  padding: 15px;
  max-width: 900px;
  border-radius: 25px;
  margin: 0 auto;
  margin-top: 50px;
}
.col-6 {
  line-height: 1.5;
  font-size: 25px;
}
.input-group {
  margin: 10px auto;
  padding: 10px;
}
.temperature {
  color: white;
  font-weight: 300;
  font-size: 90px;
  line-height: 1.5;
  display: contents;
  margin: 0 auto;
}
.units {
  position: relative;
  top: -36px;
  color: white;
}
.weather-icon {
  font-weight: 300;
  font-size: 90px;
  line-height: 1.5;
  margin: 0 0 0 50px;
}
/* .footer {
  display: flex;
  height: 50px;
  color: blue;
}

.footer .codeby {
  position: fixed;
  align-self: right;
  margin: 0 auto;
  bottom: 10px;
  right: 10px;
} */

.city {
  padding-right: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-weight: bold;
}
.form-select {
  background: linear-gradient(rgb(36, 43, 189), rgb(95, 175, 221));
  border: 1px solid white;
  color: white;
}

.weather-container {
  text-align: center;
  display: block;
  margin-top: 90px;
}
/* .rectangle {
  width: 85%;
  height: 200px;
  border: 1px solid blue;
  border-radius: 15px;
  margin: 5px auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.weather-by-days-container {
  color: white;
  font-size: 34px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
} */
.parameters {
  display: block;
  margin: 0 10px 0 80px;
}
